:root {
    --color-light: #D1B8A6;
    --color-dark: #210203;
}

body {
    font-family: "Montserrat", sans-serif;
}

.bg-light {
    background-color: var(--color-light);
}

.bg-dark {
    background-color: var(--color-dark);
}

nav {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.disease-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-50px);
}

.disease-card:nth-child(even) {
    transform: translateX(50px);
}

.disease-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.predict-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.predict-btn:hover {
    background-color: #45a049;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Welcome text animation */
#welcomeText span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-50px);
}

/* Responsive design */
@media (max-width: 768px) {
    /* Adjust layout and styling for small screens */
    .container {
        max-width: 90%;
    }
    .grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-cols-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    /* Adjust layout and styling for very small screens */
    .container {
        max-width: 95%;
    }
    .grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-cols-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-cols-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Dark mode styles */
.dark {
    background-color: #333;
    color: #fff;
}
.dark .bg-light {
    background-color: #333;
}
.dark .text-gray-800 {
    color: #121111;
}
.dark .bg-gray-200 {
    background-color: #444;
}
.dark .text-yellow-500 {
    color: #fff;
}
.dark .bg-blue-600 {
    background-color: #666;
}
.dark .text-white {
    color: #fff;
}
